@import "../../Styles/mixins.scss";

.hmm {
  margin: 0 152px;

  @include for-desktop() {
    & {
      margin: 0 32px;
    }
  }
}

.products {
  &__catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    row-gap: 40px;
    margin-bottom: 40px;

    @include for-tablet() {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include for-phone() {
      & {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
