.phone__info {
  &-title {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    margin-bottom: 50px;
  }

  &-container {
    display: flex;
  }

  &-photo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-photo-content {
    display: 'flex';
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid #c4c4c4;
  }

  &-main {
    &-colors {
      border-bottom: 1px solid #e2e6e9;
      margin-bottom: 24px;
    }
    &-title {
      display: inline-block;
      color: #89939a;
      font-family: Mont;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 8px;
    }
    &-circles {
      display: flex;
      gap: 8px;
      margin-bottom: 24px;
    }
    &-memory {
      display: flex;
      gap: 8px;
      font-family: Mont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      border-radius: 4px;
      border-bottom: 1px solid #e2e6e9;

      &--capacity {
        padding: 7px 8px 4px;
        margin-bottom: 24px;
        border-radius: 4px;
        border: 1px solid #b4bdc3;
      }
    }

    &-price {
      color: #0f0f11;
      font-family: Mont;
      display: inline-block;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      margin-top: 32px;
      text-decoration-line: strikethrough;
    }
  }

  &-price-cta {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &-button {
    color: #fff;
    width: 263px;
    height: 48px;
    display: inline-block;
    background-color: #4219d0;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Mont;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin-right: 8px;
  }

  &-details {
    &-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    &-name {
      color: #89939a;
      font-family: Mont;
      font-size: 12px;
      font-weight: 600;
    }
    &-value {
      color: #0f0f11;
      text-align: right;
      font-family: Mont;
      font-size: 12px;
      font-weight: 700;
    }

    &-id {
      color: #b4bdc3;
      font-family: Mont;
      font-size: 12px;
      font-weight: 700;
    }

    &-name2 {
      color: #89939a;
      font-family: Mont;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }

    &-value2 {
      font-family: Mont;
      font-size: 14px;

      font-weight: 600;
      line-height: 21px;
    }
  }

  &-description {
    display: flex;
    margin-top: 80px;
    gap: 64px;

    &-about {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    &-name {
      width: 50%;
    }

    &-title {
      color: #0f0f11;
      font-family: Mont;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
      display: inline-block;

      &-about {
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e6e9;
        margin-bottom: 32px;
      }
      &-tech {
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e6e9;
        margin-bottom: 32px;
      }
    }

    &-subtitle {
      display: inline-block;
      color: #0f0f11;
      font-family: Mont;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &-text {
      margin-bottom: 32px;
      color: #89939a;
      font-family: Mont;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
