@import '../../Styles/mixins.scss';

.hmm3 {
  padding: 0 32px;
  @include for-desktop() {
    & {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}

.products__line {
  display: flex;
}

.products {
  &__position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 24px 0 40px 0;
    &-icon {
      margin: 0 8px;
      width: 16px;
    }

    &-name {
      font-family: Mont;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: #89939a;
      width: 45px;
    }
  }
}

.phone__name {
  flex: 1;
}

.back {
  align-items: center;
  margin: 0 0 16px 0;
  display: flex;
  width: 66px;
  height: 16px;
}

.back__writing {
  align-items: baseline;
  font-family: Mont;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #89939a;
}

.back__left {
  margin-left: 0;
}

//phones

.phones {
  display: flex;
  margin-bottom: 80px;

  @include for-phone() {
    display: block;
  }

  &__left,
  &__right {
    flex: 1;
    margin-right: 64px;
  }

  &__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-photos {
      flex: 1;
      order: 1; /* Kolejność w domyślnym widoku */
      width: 80px;
      height: 464px;
      margin: 0;

      &-frame {
        width: 80px;
        height: 80px;
        margin-bottom: 16px;

        @include for-tablet() {
          width: 35px;
          height: 35px;
          margin-bottom: 9px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-photo {
      flex: 1;
      order: 2; /* Kolejność w domyślnym widoku */
      width: 464px;
      height: 464px;
      margin: 0 0 16px 0;

      @include for-tablet() {
        width: 287px;
        height: 287px;
      }
    }

    @include for-phone() {
      display: flex;
      flex-direction: column;
      &-photos {
        display: flex;
        flex-direction: row;
        width: 100%;
        order: 2; /* Kolejność w widoku na telefonie */
      }

      &-photo {
        width: 100%;
        order: 1; /* Kolejność w widoku na telefonie */
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;

    &-details {
      margin-left: 0px;
      width: 320px;
    }

    &-id {
      margin-right: 0;
      // width: 176px;

      &-number {
        font-family: Mont;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: right;
        color: #b4bdc3;
      }
    }
  }
}

.phones2 {
  display: flex;
  justify-content: space-between;

  @include for-tablet() {
    display: block;
  }
}
.description__left,
.description__right {
  flex: 1;
  margin-right: 64px;
}

.description__right {
  flex: 1;
  margin-right: 0;
}

//przerwa
.phone__info {
  &-title {
    font-family: 'Mont', sans-serif;
    font-weight: 800;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.32px;
    margin-bottom: 50px;
  }

  &-container {
    display: flex;
  }

  &-photo-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-photo-content {
    display: 'flex';
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid #c4c4c4;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &-phone-photo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &-main {
    &-colors {
      border-bottom: 1px solid #e2e6e9;
      margin-bottom: 24px;
    }
    &-title {
      display: inline-block;
      color: #89939a;
      font-family: Mont;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 8px;
    }
    &-circles {
      display: flex;
      gap: 8px;
      margin-bottom: 24px;
    }
    &-memory {
      display: flex;
      gap: 8px;
      font-family: Mont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      border-radius: 4px;
      border-bottom: 1px solid #e2e6e9;

      &--capacity {
        padding: 7px 8px 4px;
        margin-bottom: 24px;
        border-radius: 4px;
        border: 1px solid #b4bdc3;
      }
    }

    &-price {
      color: #0f0f11;
      font-family: Mont;
      display: inline-block;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      margin-top: 32px;
      text-decoration-line: strikethrough;
    }
  }

  &-price-cta {
    display: flex;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  &-button {
    color: #fff;
    width: 263px;
    height: 48px;
    display: inline-block;
    background-color: #4219d0;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Mont;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    margin-right: 8px;
  }

  &-details {
    &-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    &-name {
      color: #89939a;
      font-family: Mont;
      font-size: 12px;
      font-weight: 600;
    }
    &-value {
      color: #0f0f11;
      text-align: right;
      font-family: Mont;
      font-size: 12px;
      font-weight: 700;
    }

    &-id {
      color: #b4bdc3;
      font-family: Mont;
      font-size: 12px;
      font-weight: 700;
    }

    &-name2 {
      color: #89939a;
      font-family: Mont;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }

    &-value2 {
      font-family: Mont;
      font-size: 14px;

      font-weight: 600;
      line-height: 21px;
    }
  }

  &-description {
    display: flex;
    margin-top: 80px;
    gap: 64px;

    &-about {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    &-name {
      width: 50%;
    }

    &-title {
      color: #0f0f11;
      font-family: Mont;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
      display: inline-block;

      &-about {
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e6e9;
        margin-bottom: 32px;
      }
      &-tech {
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e6e9;
        margin-bottom: 32px;
      }
    }

    &-subtitle {
      margin: 0;
      color: #0f0f11;
      font-family: Mont;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }

    &-text {
      margin-bottom: 32px;
      color: #89939a;
      font-family: Mont;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
.phones__left {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

.phones__left-photos {
  grid-column: span 3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 16px;
}

.phones__left-photos-frame img {
  padding: 7px;
}

.phones__left-photo {
  grid-column: 4;
  grid-row: span 4;
  flex: 1;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone__info-phone-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone__info-phone-photo-small {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid #ccc;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.phone-photo-large {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
