.cart { 
    display: block; 
    max-width: 1136px;
    align-self: center;
    margin: auto auto; 
    padding: 40px 32px;

    @media (max-width: 1199px) {
        padding: 40px 24px;
    }

    @media (max-width: 639px) {
        padding: 24px 16px;
    }
    
    &__title {
        color: #0F0F11; 
        font-family: 'Mont', sans-serif;
        font-weight: 700;
        font-size: 48px; 
        line-height: 56px;
        letter-spacing: -0.48px;
        margin: 16px 0 32px;

        @media (max-width: 639px) { 
            font-size: 32px; 
            line-height: 41px;
            letter-spacing: -0.32px;
            margin: 24px 0 32px;
        }
    }

    &__container {
        display: flex;  
        gap: 16px; 
        align-items: start;

        @media (max-width: 1199px) {
            flex-direction: column;
            align-items: stretch;
        }
    } 
    
    &__checkout-line {
        width: 100%;
        height: 1px;
        background: #E2E6E9;
        margin: 16px 0;
    }

    &__checkout-total {
        color: #0F0F11;
        text-align: center; 
        font-family: 'Mont';
        font-size: 32px; 
        font-weight: 700;
        line-height: 41px;  
        letter-spacing: -0.32px;

        &::before {
            content: '$';
        }
    }

    &__checkout-count {
        color: #89939A;
        text-align: center; 
        font-family: 'Mont';
        font-weight: 400;
        font-size: 14px;  
        line-height: 21px; 
    }

    &__checkout { 
        display: flex; 
        padding: 24px;
        flex-direction: column;
        align-items: center; 
        border-radius: 16px;
        border: 1px solid #E2E6E9; 

        @media (min-width: 1200px) {
            width: 368px;
        }
    }
}
