// MONT

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mont';
  src: url('./fonts/mont/Mont-Black.ttf') format('truetype');
}
