body {
  width: 1200px;
}

// GRIDS

.grid-24col {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.grid-12col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

// FONTS

@font-face {
  font-family: 'Mont';
  src: url('../Assets/Fonts/Mont/Mont-Heavy.ttf') format('woff');
  font-weight: 800;
}
