@import "../../Styles/mixins.scss";

.catalog { 
  box-sizing: border-box;
  margin: auto auto;
  max-width: 1200px; 
  display: flex;
  flex-direction: column; 
  gap: 40px;
  padding: 24px 16px;

  @media(min-width: 640px) {
    padding: 24px;
  }

  @media(min-width: 1200px) {
    padding: 32px;
  } 

  &__breadcrumb {
    margin-left: 0;
  }
 

  &__title {
    color: #0F0F11; 
    font-family: 'Mont', Helvetica, sans-serif;
    font-size: 32px; 
    font-weight: 800;
    line-height: 41px; 
    letter-spacing: -0.32px;

    @media (min-width: 640px) { 
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  }

  &__count {
    color: #89939A; 
    font-family: 'Mont', Helvetica, sans-serif;
    font-size: 14px; 
    font-weight: 600;
    line-height: 21px;
  }

  &__pagination {
    display: flex;
  }
  
}
 