@import "../../Styles/mixins.scss";

.hmm2 {
  margin: 0 152px;

  @include for-desktop() {
    & {
      margin: 0 32px;
    }
  }
}

.title {
  font-family: Mont;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
  margin: 0 0 24px 0;

  @include for-phone() {
    & {
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
      width: 136px;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include for-tablet() {
    & {
      grid-template-columns: repeat(4, 1fr);
      overflow: hidden;
    }
  }
}
