@import "../../Styles/mixins.scss";

.title {
  font-family: Mont;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
  margin: 0 152px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include for-tablet() {
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
}
