.cardsWidget {
  box-sizing: border-box;
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 24px; 
  padding: 0 0 0 16px;
  margin: auto auto;
  max-width: 1012px;  

  @media(min-width: 640px) {
    padding: 0 0 0 24px;
  }

  @media(min-width: 1200px) {
    padding: 0 32px 0 32px;
    max-width: 1200px;  
  }

  &__header { 
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    box-sizing: border-box;  
    padding-right: 16px; 

    @media(min-width: 640px) { 
      max-width: 1012px;
    }
  
    @media(min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__title {  
    flex: 1 1 auto;
    color: #0F0F11;
    font-family: 'Mont', Helvetica, sans-serif;    
    font-size: 22px; 
    font-weight: 800;
    line-height: 140%; 

    @media(min-width: 640px) {
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.32px;
    }

  } 


  &__products {  
    box-sizing: border-box; 
    overflow: hidden; 
    max-width: 1012px;
    
    @media(min-width: 1200px) {
      max-width: 1200px;
    }
  }

  &__actions { 
    display: flex;
    gap: 16px;  
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 212px); 
    gap: 16px;
    transition: 'transform 1s linear';

    @media(min-width: 640px) {
      grid-template-columns: repeat(8, 237px); 
    }

    @media(min-width: 1200px) {
      grid-template-columns: repeat(8, 272px); 
    } 
  }
 
} 