.ProductCard {
  position: relative;
  box-sizing: border-box;
  width: 272px;
  border-radius: 8px;
  border: 1px solid #E2E6E9;
  background: #FFF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Mont', Helvetica, sans-serif;
  gap: 8px;
  overflow: hidden;

  &__image { 
    display: block;  
    max-width: 100%;
    height: auto; 
  }

  &__title { 
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    color: #0f0f11; 
    font-size: 14px; 
    font-weight: 600;
    line-height: 21px;  
  }

  &__price {
    font-size: 22px; 
    width: 100%; 
    display: flex;
    gap: 8px;
    
    & > ::before {
      content: '$';
    }

    &-full { 
      color: #89939A;
      font-weight: 500; 
      text-decoration-line: line-through;
    }

    &-discount { 
      color: #0F0F11;
      font-weight: 800;
    }
  }

  &__line {
    width: 100%;
    background-color: #E2E6E9; 
    margin: 0; 
  }

  &__info { 
    padding: 8px 0;
    width: 100%; 
    display: flex;
    flex-direction: column; 
    gap: 8px; 
  }

  &__infoColumn {
    width: 100%; 
    font-size: 12px; 
    font-weight: 600; 
    display: flex;
    justify-content: space-between; 

    & > :nth-child(1) {
      color: #89939A;   
      text-align: left;
    }

    & > :nth-child(2) {
      color: #0F0F11;
      text-align: right;  
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 8px; 
  }

  &__submit { 
    flex: 1 1 auto;
  } 
}