$gray-primary: #0F0F11;

.landing { 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;

    &__title { 
        color: $gray-primary;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 56px;
        letter-spacing: -0.48px;
        margin: 56px 152px;
        font-family: Mont;
    } 
}

.main { 
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.test {
    background-color: white;
    border: 1px solid white;

    &:last-child {
        margin-bottom: 80px;
    }
}