.header {
    height: 64px;
    width: 100%;
    display: flex;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #E2E6E9;
    box-sizing: border-box;
  
    &__logo {
      width: 128px;
      background-image: url('./tempImagesFolder/Logo.png');
      background-position: 50%;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  
    .nav__list {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style: none;
      padding: 0;
      margin: 0 24px;
      width: 425px;
      justify-content: space-between;
      box-sizing: border-box;
      // font-family: Mont;
      font-size: 12px;
  
      .nav__item {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        padding: 8px 0px;
        cursor: pointer;
        color: #89939A;
      }
  
      .nav__item:hover {
        border-bottom: 3px solid #0F0F11;
        color: #0F0F11;
      }
    }
  
    .nav__span {
      height: 100%;
      align-items: center;
      text-decoration: none;
    }
  
    .nav__span:hover {
      text-decoration: none;
      color: #0F0F11;
    }
  
    .header__buttons {
      display: flex;
      margin-left: auto;
      cursor: pointer;
  
      .button__heart {
        background-image: url('./tempImagesFolder/Favourites(Heart).png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: white;
        border: none;
        border-left: 2px solid #E2E6E9;
        width: 64px;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
  
        &:hover {
          cursor: pointer; 
        }
      }
  
      .button__cart {
        background-image: url('./tempImagesFolder/Cart.png');
        background-position: 50%;
        background-repeat: no-repeat;
        background-color: white;
        border: none;
        border-left: 2px solid #E2E6E9;
        width: 64px;
        height: 100%;
        box-sizing: border-box;
  
        &:hover {
          cursor: pointer; 
        }
      }
    }
  }