.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 16px;
  font-family: Mont;
  text-transform: capitalize;
  color: #0F0F11;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &__link {
    all: unset;
    cursor: pointer;
    margin: 0;
  }

  &__text {
    color: #89939A;
    font-weight: 600;
    display: inline;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; 
  }

  &__icon {
    margin: 0;
  }
}