@import url('https://fonts.cdnfonts.com/css/mont');

$header-height: 64px;
$footer-height: 96px;

// .header {
//     display: block;
//     width: 100%;
//     height: $header-height;
//     background-color: pink;
// }

.content {
  min-height: calc(100vh - ($header-height + $footer-height));
  background-color: #fafbfc;
  padding-bottom: 64px;

  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }
}

.footer {
  width: 100%;
}
