
.slider {  
    display: flex;
    align-items: stretch;
    justify-content: center; 
    gap: 19px;  
    margin-bottom: 28px;

    &__main {
        position: relative;
        
        &::after {
            content: url('dot1.svg');
            position: absolute; 
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @for $i from 1 through 3 {
            &--active-#{$i} {
              &::after {
                content: url('dot#{$i}.svg');
              }
            }
          }
    }

    @media (max-width: 639px) {
        &__main {
            width: 100vw;
            max-height: 640px;
        }
    }
    @media (min-width: 640px) {
        padding: 0 24px;

        &__main {

            @media(max-width: 1200px) {
                max-height: 400px;
            }
    
            @media(max-width: 639px) {
                max-height: 639px;
            }
    
            @media(min-width:1201px) {
                height: 400px;
                width: 1040px;
            }
        }
    }

    @media(min-width: 1200px) {
        gap: 16px;
    }

    &__picture {
        position: relative;
        max-width: 100px;
        height: 100px;
    }
      
      &__image {
        display: block; 
        max-width: 1040px;
        max-height: 400px;
        width: 100%;
        height: auto;
        @media (max-width: 639px) {
            max-height: 639px;
        }

        @media (min-width: 640px) {
                
            border-radius: 8px;
            overflow: hidden;
        }

      }

      &__button {     
        border: 1px solid #B4BDC3; 
        background-color: #FFF;  
        cursor: pointer;
        width: 32px;
        border-radius: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        &--prev {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            &::after {
              content: url('prev.svg');
              width: 16px; 
            }
          }
    
          &--next {
            grid-row: 1 / 2;
            grid-column: 3 / 4;
            &::after {
              content: url('next.svg');
              width: 16px; 
            }
          }

        @media(max-width: 639px) {
            display: none;
        } 

      }
  }