.slider {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 19px;
  margin-bottom: 28px;
  padding: 0;
  transition: transform 0.5s ease-in-out;

  @media (min-width: 640px) {
    padding: 0 24px;
  }

  @media (min-width: 1200px) {
    padding: 0 32px;
  }

  @media (min-width: 1201px) {
    padding: 0 152px;
  }

  &__image {
    width: 100%;
    max-width: 1040px;
    max-height: 400px;

    @media (max-width: 639px) {
      max-height: 639px;
    }

    @media (min-width: 640px) {
      border-radius: 8px;
    }
  }

  &__main {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;

    &:after {
      content: url('dot1.svg');

      display: flex;
      align-items: center;
      justify-content: center;
    }

    @for $i from 1 through 3 {
      &--active-#{$i} {
        &:after {
          content: url('dot#{$i}.svg');
        }
      }
    }
  }

  &__button {
    border: 1px solid #b4bdc3;
    background-color: #fff;
    cursor: pointer;
    width: 32px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--prev {
      &::after {
        content: url('prev.svg');
        width: 16px;
      }
    }

    &--next {
      &::after {
        content: url('next.svg');
        width: 16px;
      }
    }

    @media (max-width: 639px) {
      display: none;
    }
  }
}

.slider__image {
  transition: transform 0.5s ease-in-out;
}

.slider--entering .slider__image {
  animation: slideIn 0.5s forwards;
  animation-timing-function: ease-in-out;
}

.slider--exiting .slider__image {
  animation: slideOut 0.5s forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
